body,div,ul,li { padding: 0; margin: 0; }
ul { list-style: none ; }
*{margin: 0;padding: 0;}
img { border: none; display: block;}
a {text-decoration: none;}
body, button, input, select, textarea {
    color: #333333;
    font-size:12px;
}
button, input,select, textarea {border:none;}
ol, ul {
    list-style: none outside none;
}
li {list-style:none;}
img {
    vertical-align: middle;
    border:none;
}
/*----------------------------------------------------*/
.clearfix1:after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#main {
    margin: 0 auto 5px auto;
    width: 1000px;
}
.cartStep {
    width: 939px;
    margin: 10px auto 15px auto;
    height: 32px;
    line-height: 32px;
}
.step_1, .step_2, .step_3 {
    background: url(../img/cartStep_img.gif) no-repeat;
}
.cartStep_no1 .step_1 {
    background-color: #278e04;
    color: #fff;
    background-position: 100% -64px;
}
.cartStep li {
    width: 313px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.cartStep_no1 .step_2, .cartStep_no1 .step_3 {
    background-color: #e6e6e6;
    color: #666;
}
.cartStep_no1 .step_2 {
    background-position: 100% -64px;
}
.cartStep_no1 .step_3 {
    background-image: none;
}
.cartTable {
    border: 1px solid #D0D0D0;
    width: 100%;
    border-collapse: collapse;
}
.cartTable th {
    background-color: #F3F3F3;
    border: none;
    height: 34px;
    line-height: 34px;
    font-weight: normal;
    border-bottom: 1px solid #D0D0D0;
}
.cartTable td, .cartTable3 td {
    border: none;
    border-bottom: 1px solid #D0D0D0;
    padding: 5px;
}
.cart_sliderdiv h4 {
    background: #F7F7F7;
    font-size: 14px;
    text-indent: 10px;
    height: 34px;
    line-height: 34px;
    font-weight: normal;
    border-bottom: 1px solid #DDD;
}
.cartCheck {
    text-align: right;
    line-height: 24px;
    width: 300px;
    float: right;
    margin: 20px 0 0 0;
}
.cartTable td, .cartTable3 td {
    border: none;
    border-bottom: 1px solid #D0D0D0;
    padding: 5px;
}
.cartTable td img, .cartTable3 img {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    margin: 0 5px 0 0;
}
.cartTable .wrap_input {
    overflow: hidden;
    zoom: 1;
    width: 75px;
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 3px;
}
.cartTable .jia, .cartTable .jian {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    height: 20px;
    width: 20px;
    border: 1px solid #8A8A8A;
    cursor: pointer;
    display: block;
    line-height: 20px;
    float: left;
}
#main input[type="text"] {
    border: 1px solid #BBB;
}
.cartTable .input input {
    width: 25px;
    float: left;
    height: 20px;
    line-height: 20px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    text-align: center;
}
.cartCheck_btnA:hover {
    color: #cc0000;
}
.cartCheck_btnA, .cartCheck_btnA:link, .cartCheck_btnA:visited {
    /*color: #085C9B;*/
    text-decoration: none;
    line-height: 34px;
    /*margin-right: 15px;*/
    width: 118px;
    height: 34px;
    display: inline-block;
    float: right;
    margin: 10px 10px 10px 0;
    border: 1px solid #39A930;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    color: #999;
}
.cartCheck p {
    width: 300px;
    float: right;
}
.cartCheck p {
    width: 100%;
    float: left;
}
.cartCheck_p {
    padding-top: 4px;
}
.cartCheck_btn:hover {
    background-color: #63C95B;
    text-decoration: none;
}
.cartCheck_btn, .cartCheck_btn:link, .cartCheck_btn:visited {
    border-radius: 3px;
    background-color: #63C95B;
    height: 36px;
    color: #fff;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    float: right;
    cursor: pointer;
    width: 120px;
    margin: 10px 0;
}
.cartCheckSpan2 {
    font-size: 22px;
    font-weight: bold;
    color: #ff0000;
}
.cartCheck {
    text-align: right;
    line-height: 24px;
}
.cart_slider li {
    float: left;
    width: 180px;
}
.arrow-btn {
    display: inline;
    background: url(../img/sprite1.png) no-repeat 0px 0px;
    width: 11px;
    height: 15px;
    overflow: hidden;
    cursor: pointer;
    margin: 0 19px;
}
.btn-left.dasabled {
    background-position: -109px 0px;
}
.btn-left {
    float: left;
    background-position: -29px 0;
    margin-top: 119px;
}
.btn-right {
    float: right;
    background-position: 0px 0;
    margin-top: 119px;
}
.cart_sliderdiv {
    border: 1px solid #DDD;
    margin: 20px 0 0 0;
}

























